<!DOCTYPE html>
<html>
  <head>
    <title>Assistant</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render partial: 'partials/header', formats: [:html] %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>

  <%= stylesheet_pack_tag 'index' %>
  <%= javascript_pack_tag 'index' %>
</html>
