<!DOCTYPE html>
<html>
  <head>
    <title>Todolist</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <div class="log_out">
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      </div>
    <% end %>

    <%= yield %>
  </body>

  <%= stylesheet_pack_tag 'index' %>
  <%= javascript_pack_tag 'index' %>
</html>
